{% extends "admin/base.html" %}
{% load static %}
{% block content %}
<section id="main-content" class=" ">
    <section class="wrapper main-wrapper">

        <div class='col-xl-12 col-lg-12 col-md-12 col-12'>
            <div class="page-title">
                <div class="float-left">
                    <h1 class="title">Dashboard</h1>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-xl-12">
            <section class="box nobox">
                <div class="content-body">
                    <div class="row">

                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="r4_counter db_box">
                                <i class='float-left fa fa-users icon-md icon-rounded icon-primary'></i>
                                <div class="stats">
                                    <h4><strong>{{ total_students }}</strong></h4>
                                    <span>Total Students</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="r4_counter db_box">
                                <i class='float-left fa fa-building icon-md icon-rounded icon-orange'></i>
                                <div class="stats">
                                    <h4><strong>{{ total_employers }}</strong></h4>
                                    <span>Total Employers</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="r4_counter db_box">
                                <i class='float-left fa fa-check-circle icon-md icon-rounded icon-purple'></i>
                                <div class="stats">
                                    <h4><strong>{{ pending_verifications }}</strong></h4>
                                    <span>Pending Approvals</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="r4_counter db_box">
                                <i class='float-left fa fa-comment icon-md icon-rounded icon-warning'></i>
                                <div class="stats">
                                    <h4><strong>{{ new_feedbacks }}</strong></h4>
                                    <span>New Feedback</span>
                                </div>
                            </div>
                        </div>

                    </div> <!-- End .row -->

                    <div class="row">
                        <div class="col-12">
                            <div class="db_box p-4">
                                <h4>Welcome to Learn To Earn Administration</h4>
                                <p>Use the sidebar to manage users, verify accounts, and generate reports.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>

    </section>
</section>
{% endblock %}